node_modules/*
!node_modules/reveal.js/
node_modules/reveal.js/*
!node_modules/reveal.js/dist/
!node_modules/reveal.js/dist/**
!node_modules/reveal.js/plugin/
!node_modules/reveal.js/plugin/**
.pnpm-store/
.idea/
